# ===============================
# Environment / Secrets
# ===============================
.env
backend/.env

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# virtual environments
venv/
env/
.venv/

# ===============================
# Node / React
# ===============================
node_modules/
frontend/node_modules/

# build folders
dist/
build/
.vite/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VSCode
# ===============================
.vscode/